.vertical-container {
    margin: 5px;
    min-height: 400px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    border-radius: 15px;
   min-width: 260px;
    max-width: 500px;
    width: 100%;
    
    
}

.vertical-container h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}