name: CD-Deploy-AKS

on:
  workflow_run:
    workflows: ["CI-Build-Push"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    # Azure OIDC Login
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Get AKS Credentials
      run: |
        az aks get-credentials \
          --resource-group ${{ secrets.AKS_RESOURCE_GROUP }} \
          --name ${{ secrets.AKS_CLUSTER_NAME }} --overwrite-existing

    # Install Helm
    - name: Install Helm
      uses: azure/setup-helm@v4

    # Run Helm & Bash deployment script
    - name: Run Deployment Script
      env:
        DOCKER_REPO_BACKEND: ${{ secrets.DOCKER_REPO_BACKEND }}
        DOCKER_REPO_FRONTEND: ${{ secrets.DOCKER_REPO_FRONTEND }}
      run: bash scripts/deploy.sh "${{ github.event.workflow_run.head_sha }}"
