name: CI-CD-AKS

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

jobs:

  build_scan_push:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.tag.outputs.sha }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Generate Image Tag (Commit SHA)
      - name: Set Image Tag
        id: tag
        run: echo "sha=${GITHUB_SHA}" >> "$GITHUB_OUTPUT"

      # DockerHub Login
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Install Trivy (Official Action - Cleaner)
      - name: Install Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          scan-ref: .
          exit-code: '0'

      # Backend Build
      - name: Build Backend Image
        run: |
          docker build -t ${{ secrets.DOCKER_REPO_BACKEND }}:${{ steps.tag.outputs.sha }} ./backend

      # Backend Image Scan
      - name: Scan Backend Image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKER_REPO_BACKEND }}:${{ steps.tag.outputs.sha }}
          severity: HIGH,CRITICAL
          exit-code: '0'

      - name: Push Backend Image
        run: |
          docker push ${{ secrets.DOCKER_REPO_BACKEND }}:${{ steps.tag.outputs.sha }}

      # Frontend Build
      - name: Build Frontend Image
        run: |
          docker build -t ${{ secrets.DOCKER_REPO_FRONTEND }}:${{ steps.tag.outputs.sha }} ./frontend

      # Frontend Image Scan
      - name: Scan Frontend Image
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKER_REPO_FRONTEND }}:${{ steps.tag.outputs.sha }}
          severity: HIGH,CRITICAL
          exit-code: '0'

      - name: Push Frontend Image
        run: |
          docker push ${{ secrets.DOCKER_REPO_FRONTEND }}:${{ steps.tag.outputs.sha }}



  deploy:
    runs-on: ubuntu-latest
    needs: build_scan_push

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Azure Login using OIDC
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Get AKS Credentials
      - name: Get AKS Credentials
        run: |
          az aks get-credentials \
            --resource-group ${{ secrets.AKS_RESOURCE_GROUP }} \
            --name ${{ secrets.AKS_CLUSTER_NAME }} \
            --overwrite-existing

      # Install Helm
      - name: Install Helm
        uses: azure/setup-helm@v4

      # Helm Lint (Prevents YAML mistakes)
      - name: Helm Lint
        run: helm lint ./helm/crud-app-chart

      # Deploy using Helm
      - name: Helm Deploy to AKS
        run: |
          helm upgrade --install crud-app ./helm/crud-app-chart \
            --namespace crud-app \
            --create-namespace \
            --wait \
            --timeout 5m \
            --set backend.image.repository=${{ secrets.DOCKER_REPO_BACKEND }} \
            --set backend.image.tag=${{ needs.build_scan_push.outputs.image_tag }} \
            --set frontend.image.repository=${{ secrets.DOCKER_REPO_FRONTEND }} \
            --set frontend.image.tag=${{ needs.build_scan_push.outputs.image_tag }}
